/* Global common (template) */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
  min-width: 180px;
  min-height: 320px;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

button {
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

/* Basic common (template) */

.list-default {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(100%);
}

.btn {
    display: inline-block;

    font: inherit;
    text-transform: unset;
    text-align: center;
    vertical-align: middle;
}

/* Global & Basic (adaptive) */

body {
  min-width: 320px;

  font-family: 'Trebuchet MS', 'Arial Narrow', sans-serif;
  font-size: 16px;
  line-height: 1.25em;
  
  color: #1f2937;
  background-color: #f9faf8;
}

.btn {
    padding: 5px 5px;
    min-width: 38px;

    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.25em;

    border: none;
    border-radius: 4px;
}

/* LIQUID GLASS STYLES */

.liquidGlass-wrapper {
    position: relative;
    display: flex;
    font-weight: 600;
    overflow: hidden;

    color: black;

    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);

    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.liquidGlass-effect {
    position: absolute;
    z-index: 0;
    inset: 0;

    backdrop-filter: blur(3px);
    filter: url(#glass-distortion);
    overflow: hidden;
    isolation: isolate;
}

.liquidGlass-tint {
    z-index: 1;
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.25);
}

.liquidGlass-shine {
    position: absolute;
    inset: 0;
    z-index: 2;

    overflow: hidden;

    box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
        inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.liquidGlass-text {
  z-index: 3;
  font-size: 2rem;
  color: black;
}

/* Main layout */

.inner-wrap {
    width: 99%;
    height: 99%;

    margin: auto;
}

body {
    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: url('../img/background-002.png');
    background-position: center center;
}

.main-content-wrap {
    width: 55vmin;
    max-height: 90vmin;

    margin: auto;
}

.main-content {
    padding-top: 12px;
    padding-bottom: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.screen-aria-wrap {
    width: 95%;
    height: 16%;
}

.screen-aria {
    display: flex;
    flex-direction: column;
}

.keyboard-aria-wrap {
    width: 95%;
    height: 82%;
}

.keyboard-aria {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 3px;
}

/* Screen */

.main-display {
    width: 90%;
    height: 60%;
    margin: auto;
    padding: 8px;

    border: none;
    border-radius: 10px;

    font-size: 7vmin;
    text-align: right;
    color: #070911;
}

.main-display::placeholder {
    color: #bbb;
}

/* Keyboard */

.key-wrap {
    flex-basis: 23%;
    align-self: stretch;
    border-radius: 10px;
    height: 11vmin;
}

.key {
    font-size: 7vmin;
    border-radius: 10px;

    color: #070911;
}

.key-wrap:nth-child(-n+4) {
    height: 7vmin;
}

.key-wrap:nth-child(-n+4) > .key {
    font-size: 4vmin;
}

.key-wrap:nth-child(-n+7) > .key,
.key-wrap:nth-child(21) > .key,
.key-wrap:nth-child(23) > .key {
    color: #450945;
    background: rgba(205, 255, 205, 0.25);
    box-shadow: inset 2px 2px 1px 0 rgba(205, 255, 205, 0.5),
        inset -1px -1px 1px 1px rgba(205, 255, 205, 0.5);
}

.key-wrap:nth-child(8) > .key,
.key-wrap:nth-child(12) > .key,
.key-wrap:nth-child(16) > .key,
.key-wrap:nth-child(20) > .key,
.key-wrap:nth-child(24) > .key {
    color: #454509;
    background: rgba(205, 205, 255, 0.25);
    box-shadow: inset 2px 2px 1px 0 rgba(205, 205, 255, 0.5),
        inset -1px -1px 1px 1px rgba(205, 205, 255, 0.5);
}

.key:hover {
    color: rgba(245, 109, 30, 1);
    background: rgba(255, 255, 255, 0.5);
}

.key:active {
    color: rgba(245, 109, 30, 0.65);
    background: rgba(255, 255, 255, 0.85);
}

.key-wrap:nth-child(-n+7) > .key:hover,
.key-wrap:nth-child(21) > .key:hover,
.key-wrap:nth-child(23) > .key:hover {
    color: rgba(40, 109, 235, 1);
    background: rgba(205, 255, 205, 0.5);
}

.key-wrap:nth-child(-n+7) > .key:active,
.key-wrap:nth-child(21) > .key:active,
.key-wrap:nth-child(23) > .key:active {
    color: rgba(40, 109, 235, 0.65);
    background: rgba(205, 255, 205, 0.85);
}

.key-wrap:nth-child(8) > .key:hover,
.key-wrap:nth-child(12) > .key:hover,
.key-wrap:nth-child(16) > .key:hover,
.key-wrap:nth-child(20) > .key:hover,
.key-wrap:nth-child(24) > .key:hover {
    color: rgba(30, 175, 89, 1);
    background: rgba(205, 205, 255, 0.5);
}

.key-wrap:nth-child(8) > .key:active,
.key-wrap:nth-child(12) > .key:active,
.key-wrap:nth-child(16) > .key:active,
.key-wrap:nth-child(20) > .key:active,
.key-wrap:nth-child(24) > .key:active {
    color: rgba(30, 175, 89, 0.65);
    background: rgba(205, 205, 255, 0.85);
}
